{
  //       "printWidth":50,
  //       "printWidth":100,
  //       "tabWidth": 4,
  //       "useTabs": true,
  //       "semi": false,
  //       "singleQuote": true,
  //       "quoteProps": "consistent",
  //       "quoteProps": "preserve",
  //       trailingComma: "none",
}
