{
  //       "printWidth":50,
  //       "tabWidth": 4,
  //       "useTabs": true,
  //       "semi": false,
  //       "singleQuote": true,
  //       "quoteProps": "preserve",
  //       "trailingComma": "none",
  //       "bracketSpacing": false,
  //       "arrowParens": "avoid",
  //       "rangeStart": 50,
  //        "rangeEnd": 70,
  //       "requirePragma": true,
  //       "insertPragma": true
}
